?
.bashenv-*
.idea
.cache
.trivy
**/*.iml
target
node_modules
artifacts
*.prefs
coverage/.project
.project
api/.classpath
api/.project
app-database/.classpath
app-database/.factorypath
app-database/.project
app/.classpath
app/.factorypath
.DS_Store
